<div id="sidebar" class="four columns">       
    <div class="row">
    	<div class="twelve columns">
            <br>
        	<dl class="nice contained tabs">
            	<dd><a href="#comentarios1" class="active">Recientes</a></dd>
            	<dd><a href="#comentarios2">Todos</a></dd>
            </dl>
            <ul class="nice tabs-content contained">
            	<li id="comentarios1Tab" class="active">
                	<div id="recentcomments" class="dsq-widget"><h6 class="dsq-widget-title">Recent Comments</h6><script type="text/javascript" src="http://idatux.disqus.com/recent_comments_widget.js?num_items=5&hide_avatars=1&avatar_size=32&excerpt_length=200"></script></div>
              	</li>
              	<li id="comentarios2Tab">
                	<div id="popularthreads" class="dsq-widget"><h6 class="dsq-widget-title">Popular Threads</h6><script type="text/javascript" src="   http://idatux.disqus.com/popular_threads_widget.js?num_items=5"></script></div>
              	</li>
            </ul>
        </div>
	</div><!-- /row -->

	<div class="row">
		<div class="twelve columns">
			<h4>Categorías</h4><hr>
            	<ul class="sidebar-topics topics sort">
                	<li><a href="/blog/categorias.html#general-ref" title="General">General</a></li>
              	</ul>
        </div>
    </div><!-- /row -->
</div><!-- /sidebar -->