{% include themes/idatux/_post_header.html %}

<div id="content" class="container" role="main">
    <div class="row">
      <div class="eight columns">

      <div class="row">
        <div class="twelve columns">
          <h2>{{page.title}}</h2>
          <div class="comment-author-line">
            <span class="date">Publicado {{page.date | date_to_string}}</span>
            {% unless page.categories == empty %}
              <span class="category">en</span>
              <ul class="categories_box">
            {% assign categories_list = page.categories %}
            {% include JB/categories_list %}
              </ul>
            {% endunless %}
            </div>
          <hr>
          </div>
      </div><!-- /row -->

      <div class="row">
        <div class="twelve columns">  
        {{ content }}
        <hr>
        </div>    
      </div>
      
      <div class="row">
        <div class="twelve columns">
          <ul class="pagination">
          {% if page.previous %}
            <li class="unavailable"><a href="">&laquo;</a></li>
            <li><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Anterior</a></li>
            <li><a href="">2</a></li>
          {% else %}
            <li class="prev disabled"><a>&larr; Anterior</a></li>
          {% endif %}
            <li class="current"><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archivos</a></li>
          {% if page.next %}
            <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Siguiente &rarr;</a></li>
          {% else %}
            <li><a>Siguiente &rarr;</a>
          {% endif %}
          </ul>
        </div>

        <div class="twelve columns">
          <div> {% include JB/comments %} </div>
        </div>
      </div><!-- /row -->

      </div>
    {% include themes/idatux/_post_sidebar.html %}
  </div>
</div>  