---
layout: default
---
{% include JB/setup %}

<div id="content" class="container" role="main">
    <div class="row">
    	<div class="eight columns">
      	{{ content }}
      	</div>

      	<div id="sidebar" class="four columns">
      		<br>
      		<div class="speakers-alt-sidebar">
      			<div class="sidenav-title">
      				<div class="bold">Equipo</div><hr>
				</div>
				<div class="row">
					<div class="six columns">
					<ul class="previous">
					<li>Carlos Jara</li>
					</ul>
					</div>
					<div class="six columns">
					<ul class="previous">
					<li>Carlos Delgado</li>
					</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>